
<nav>
  <div class="container">
      <div class="content">
          <h2 class="logo" >Market Sro</h2>
          <ul>
              <li class="btn btn-outline-info active text-center" style="text-align: center height:20%" routerLink="/products"> 
                <i class="fa-solid fa-truck-fast"></i>
                Products Ray2a gdan ♥</li>
              <li class="btn btn-outline-info " routerLink="/cart">
                <i class="fa fa-shopping-cart"></i> Cart 
              </li>
          </ul>
      </div>
  </div>
</nav>